<footer>

    <span id="world">&copy; Gadget world</span>
   <a href="/main/about"> <span id="About">About</span></a>
   <a href="/main/contact"> <span id="Contact">contact</span></a>
</footer>
</body>

</html>