<%- include('./partials/header.ejs')%>
<div class = "AboutInfocontent">
    <h1>Welcome to Electronic World</h1>

    <h4>we are one of the most trusted online store  for all kinds of  tradingElectronic components.<br> We offer wide range of quality products for Hobbyist, Robotic engineers, Students (to build inovative projects) & all other electronic service groups. We believe in making a hassle free shoping to the versitile electronist for all kinds of electronic components.
    </h4>

    <div class = "about-images">
            <img src="/images/macbook.png" alt="lapptop">
        
             <img src="/images/mobilefun1.jpg" alt="combination">
        
        </div>
        
        

</div>
<%- include('./partials/footer.ejs')%> 