<%- include('./partials/header.ejs')%>
<div class = "main_section">
    <h2>Welcome to a Gadget World</h2>
    <p>We provide you the best deals for the purchase of laptops with exchange policy.A big festivals for
    <br>students to get their desired laptops for cheaper rates.</p>
</div>
<%- include('./partials/footer.ejs')%>
