<%- include('./partials/header.ejs')%>
<div class = "message_Info-content">
   <h4>Thank you for contacting us! call you soon</h4>
   <a href="/"><p>Go and visit home page.</p></a>
</div>
<%- include('./partials/footer.ejs')%> 